.home-container{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 3%;
}
    
.picture-main{
        
        width: 45%;
        display: flex;
        justify-content: center;
}
.text-main{
        margin-top: 4%;
        padding: 2%;
        width: 45%;   
}

.filler{
        flex-grow:1;
}
  
.page-container{
        height: 100vh
}

