.vaccine-table-dashboard{
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.vaccine-table{
    margin-right: 1rem;
    margin-left: 1rem;}