.vaccine-table-dashboard{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.vaccine-table{
    margin-right: 1rem;
    margin-left: 1rem;}